<table class="notebook-form centered">
    <thead>
    <tr style="border-bottom: none;">
        <th></th>
        <th><h4 class="td_left_text">Shopping List</h4></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th data-field="checkbox"></th>
        <th class="td_left_text" data-field="name" >Name</th>
        <th data-field="date-add">Date Added</th>
        <th data-field="price">Price</th>
        <th data-field="nav" class="hide-on-small-only"></th>
    </tr>
    </thead>
    <tbody id="restockTable">
    {% for item in restock %}
    <tr>
        <td>
            <input type="checkbox" id="check-{{ item.name }}" />
            <label for="check-{{ item.name }}"></label>
        </td>
        <td class="td_left_text">{{ item.name }}</td>
        <td>{{ item.Date_Used.strftime('%b %d') }}</td>
        <td>{{ item.price }}</td>
        <td class="tr_nav hide-on-small-only">
            <a href="#" class="right requestre" name="{{ item.nfc }}"><i class="material-icons blue-text">note_add</i></a>
            <a href="#" name="{{ item.nfc }}" class="deleteButtonRe right"><i class="material-icons red-text">delete</i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>